
<form>
  <div class="container">

  <h1>Add Account</h1>

    <div class="form-group">
      <label for="accountname">Account Name:</label>
      <input type="text" class="form-control" id="accountname">
    </div>

    <div class="form-group">
      <label for="accountdesc">Account Description:</label>
      <input type="text" class="form-control" id="accountdesc">
    </div>

    <div class="form-group">
      <label class="mr-md-2" for="acctype">Account Type: </label>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="acctype">
        <option selected>Choose...</option>
        <option value="expense">Expense</option>
        <option value="liability">Liability</option>
        <option value="revenue">Revenue</option>
        <option value="asset">Asset</option>
        </select>
    </div>

    <div class="form-group">
      <label class="mr-md-2" for="accbalance">Account Balance: </label>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="accbalance">
        <option selected>Choose...</option>
        <option value="debit">Debit Account</option>
        <option value="credit">Credit Account</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add Account</button>

  </div>

</form>